{% extends 'Base.html' %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="col-md-6 col-sm-8 col-10 mt-0 pt-3">
        <h1 class="text-center"> Add Record </h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            &nbsp;<button type="submit" class="btn btn-secondary">Update Record</button>
            &nbsp;<a href="{% url 'home' %}" class="btn btn-secondary">Go Back</a>
        </form>
        </div>
    </div>
{% endblock %}